<script lang="ts">
  import graphs from "../images/graphs.png"
  import symTable from "../images/symmetry-table.png"
  import tilingHierarchy from "../images/tiling-hierarchy.png"

  import MinoDiv from "$lib/components/MinoDiv.svelte"
  import { nodes, getSymmetryColor } from "$lib/components/graph"
</script>

# Directedness: A Classification of Polyominoes

I'd always been fascinated with polyominoes since I was young. They always seemed to me like little abstract creatures, growing and evolving in strange ways. I'd always been frustrated how most of polyomino research is based on tiling and packing. While people have made [beautiful patterns](/packing) out of them, these are all mainly _computational_ results, made by running some clever algorithm over a long period of time. There's not really anything mathematically exciting going on, which is why polyominoes have remained in the realm of recreational mathematics. So, I set out to map their [evolution tree](/genealogy), and from there creating a labyrinth tracking their properties, in hopes of finding _something_ interesting about them.

And in this process of creation, a seemingly superficial question percolated in my mind: what do I color the polyominoes? It felt too boring to just have everything be one color, and it seemed like a waste to just choose random colors. I wanted whatever coloring scheme I use to _mean_ something. Something that seems fundamental to the structure of these minos.

## Attempt 1: Symmetry

Most literature on polyominoes classifies them by symmetry. It's what [Wikipedia uses](https://en.wikipedia.org/wiki/Polyomino) on most of its articles relating to polyominoes:

{@render minoList(nodes[5], 12)}

It's a sensible color scheme. Human brains are wired to see symmetry and pattern and equate it to beauty, and for polyominoes in particular, their symmetries must be accounted for when counting them. The classes of symmetries also forms a nice hierarchy: a polymino that is [symmetric by two axes](/symmetry/axis-2) is necessarily [symmetric by one axis](/symmetry/axis) but also [rotationally symmetric](/symmetry/rot). But if we move up to the heptominoes and octominoes, we see a problem:

{@render minoList(nodes[7], 6)}

Most of these minos are boring ol' grey! That is, these are minos with [no symmetry](/symmetry/none) And the problem gets worse with bigger sizes of polyominoes:

![table of symmetries for polyominoes up to 12]({symTable})

And so we derive our first guideline for an ideal coloring:

> The coloring must have a nice "spread": for the size we are going up to ($n = 8$)^1, most minos must have an "interesting" property, and not just the "default".

## Attempt 2: Graphs

Another fun possibility is classifying minos as [_graphs_](<https://en.wikipedia.org/wiki/Graph_(discrete_mathematics)>): put a node in the center of each square, join adjacent nodes by lines, and throw away the original squares and any notion of turning or direction. You can take this further and get rid of the dots that don't connect more than two points, to get "families" of minos, such as "minos that are a straight line", and "minos that are T intersections" (formally, we say that these graphs are [homeomorphic](<https://en.wikipedia.org/wiki/Homeomorphism_(graph_theory)>)). I like this classification because it is multileveled--you can organize minos that have the same exact graph, and you can organize those graphs by their families for different levels of granularity.

![the octominoes, categorized by graph]({graphs})

But there is a problem with this classification: the number of types of graphs, or graph families, grows unbounded with the size of the mino. Ever new size of polyomino introduces a new family of graphs, and even for the octominoes, there are already too many families to pick out reasonable set of colors for them. So we have a second rule:

> The classification must order polyominoes into finitely many categories: around 12 or less.

## Attempt 3: Tiling

As a final attempt, we can try classifying polyominoes using [Golomb's tiling hierarchy](https://www.sciencedirect.com/science/article/pii/S0021980066800339). We can color every mino based on the "best" shape it can tile. Some polyominoes can tile rectangles, some can tile shapes like strips or half-planes, some can only tile the plane, and others cannot tile the plane at all. This fits our first two criteria: at size 8, only 26/369 octominoes do not tile the plane, which means most polyominoes fit at least somewhere on the hierarchy. It is a finite set with only 10 classes, meaning we have plenty of colors to choose from.

![Golomb's tiling hierarchy]({tilingHierarchy})

But, as with the other attempts, tiling also carries its own problems. It's not easy to tell just by looking at a mino what it can tile. Also, for some polyominoes we just don't _know_ the best shape that it can tile, meaning that this hierarchy is incomplete, and may have to be updated in the future. This also raises a question in me in _why_ these particular regions are chosen. Why not have a tiling region that is a diagonal edge? The symmetry hierarchy above is complete: every single polyomino will have one of these symmetry classes, no matter how big it gets. But most importantly, it's hard to intuit just by looking at a polyomino and its color what that color is supposed to represent. We have our final criterion:

> It should be relatively easy for people to understand on inspection why a polyomino is colored the way it is.

---

Let's formalize our criteria. We want a meaningful classification of polyominoes that:

1. Has an interesting "spread" (i.e. is not mostly grey) for our desired size of $n \le 8$ (like graphs and tiling, but unlike symmetry).
2. Is finite, and does not grow unbounded as the size $n$ increases (like symmetry and tiling, but unlike graphs).
3. Is "easy" to intuit just by looking at a mino (like symmetry and graphs, but unlike tiling).

So with these criteria in mind, I went on a search for a classification scheme, and in doing so, discovered some very interesting mathematics.

[^1]: Funnily enough, the reason I chose $n=8$ as the limit is mostly because of symmetry: it is the first size where every symmetry class is possible.

{#snippet minoList(minos, size)}
  <div>
    {#each minos as mino}
      <span class="mino" style:--fill={getSymmetryColor(mino.transform.symmetry())}>
        <MinoDiv {mino} {size} />
      </span>
    {/each}
  </div>
{/snippet}

<style>
  img {
    max-width: 600px;
  }

  blockquote {
    font-style: italic;
  }

  .mino {
    margin: 0.5rem;
  }
</style>
