<script lang="ts">
  import graphs from "../images/graphs.png"
  import symTable from "../images/symmetry-table.png"

  import { Polyomino } from "$lib/mino"
  import MinoDiv from "$lib/components/MinoDiv.svelte"
  import { nodes, getSymmetryColor } from "$lib/components/graph"
  import HierarchyChart from "../../HierarchyChart.svelte"
  import { symmetryTable } from "../../helpers.svelte"

  const tilingHierarchy = [
    ['Rectangle'],
    ['Half Strip'],
    ['Itself', 'Bent Strip'],
    ['Quadrant and Strip'],
    ['Quadrant', 'Strip'],
    ['Half Plane'],
    ['Plane'],
    ['Nothing']
  ]

  const tilingEdges = [
    ['Rectangle', 'Half Strip'],
    ['Rectangle', 'Itself'],
    ['Half Strip', 'Bent Strip'],
    ['Bent Strip', 'Quadrant and Strip'],
    ['Itself', 'Quadrant'],
    ['Quadrant and Strip', 'Quadrant'],
    ['Quadrant and Strip', 'Strip'],
    ['Quadrant', 'Half Plane'],
    ['Strip', 'Half Plane'],
    ['Half Plane', 'Plane'],
    ['Plane', 'Nothing']
  ]

  const yPentomino = Polyomino.fromString("10_11_10_10")
  const yHexomino = Polyomino.fromString("10_11_10_10_10")

</script>

# Directedness: A Classification of Polyominoes

I'd always been fascinated by polyomiones. These little abstract creatures, growing and evolving in strange ways, a rich menagerie of creatures with different properties that you can dissect and analyze and compare.

Most of polyomino research is based on tiling and packing--finding ways for polyominoes to fit together in different combinations. People have made some truly [beautiful patterns](/packing) out of them. But there's always been something unsatisfying about these results: they're are all mainly _computational_, made by running some clever algorithm over a long period of time. There's not really anything mathematically exciting going on, which is why polyominoes have remained in the realm of recreational mathematics. It doesn't really fill the same itch in me as solving a really good logic puzzle.

I've always been more interested in the properties of the individual polyominoes. To that end, I've asked myself the question: what is the best way to _classify_ polyominoes? Is there a way to organize polyominoes into sets that have interesting properties, in the same way taxonomists organize living creatures into "animal", "plant", "fungi", etc.?

There's a lot of reasons why you would want to classify polyominoes. If you wanted to come up with a [unique name for each polyomino](https://www.seximal.net/polyomino), what properties could you use to distinguish them? If you wanted to make a board game or video game about polyominoes, how would you give interesting powers to polyominoes in ways that make sense to the player? And, if you were, say, making a [polyomino encyclopedia](/), what color scheme do you want to use for it?

Let's start with considering the ways people have attempted to classify polyominoes in the past, their issues, and how we can extract some criteria for our ideal classification.

## Classification 1: Symmetry

Most literature on polyominoes classifies them by _symmetry_: how many ways can you flip or rotate a mino and have it still be the same shape? It's the coloring scheme that [Wikipedia uses](https://en.wikipedia.org/wiki/Polyomino) on most of its articles relating to polyominoes:

{@render minoList(nodes[5], 12)}

It's a sensible color scheme. Human brains are wired to see symmetry and pattern and equate it to beauty. For polyominoes in particular, symmetries play an important role in enumerating them. The classes of symmetries also forms a nice hierarchy: a polymino that is [symmetric by two axes](/symmetry/axis-2) is necessarily [symmetric by one axis](/symmetry/axis) but also [rotationally symmetric](/symmetry/rot). But if we move up to the heptominoes and octominoes, we see a problem:

{@render minoList(nodes[7], 6)}

Most of these minos are boring ol' grey! That is, these are minos with [no symmetry](/symmetry/none) And the problem gets worse with bigger sizes of polyominoes:

{@render symmetryTable()}

Our Labyrinth goes up to the octominoes--ironically, because it is the first size where every single symmetry is possible. At one point, I colored the minos by symmetry, and colored the asymmetric polyominoes by "degree of asymmetry": how many squares you have to remove before you find a symmetric ancestor. But this was pretty confusing, so we move on and derive our first guideline for an ideal coloring:

> The coloring must have a nice "spread": for the size we are going up to ($n = 8$), most minos must have an "interesting" property, and not just the "default".

## Classification 2: Graphs

Another possibility is classifying minos as [_graphs_](<https://en.wikipedia.org/wiki/Graph_(discrete_mathematics)>): put a node in the center of each square, join adjacent nodes by lines, and throw away the original squares and any notion of turning or direction. You can take this further and get rid of the dots that don't connect more than two points, to get "families" of minos, such as "minos that are a straight line", and "minos that are T intersections" (formally, we say that these graphs are [homeomorphic](<https://en.wikipedia.org/wiki/Homeomorphism_(graph_theory)>)).

(TODO pentominoes by graph)

I like this classification because it is multileveled--you can organize minos that have the same exact graph, and you can organize those graphs by their families for different levels of granularity. But there is a problem with this classification: the number of types of graphs, or graph families, grows unbounded with the size of the mino. Every new size of polyomino introduces a new family of graphs, and even for the octominoes, there are already too many families to pick out, say, a reasonable set of colors for them.

![the octominoes, categorized by graph]({graphs})

So we have a second rule:

> The classification must partition polyominoes into finitely many categories: around 12 or less.

## Classification 3: Tiling

Another classification scheme I came across was [Golomb's tiling hierarchy](https://www.sciencedirect.com/science/article/pii/S0021980066800339). We can classify every mino based on the "best" shape it can tile. Some polyominoes can tile rectangles, some can tile shapes like strips or half-planes, some can only tile the plane, and others cannot tile the plane at all.

// TODO some examples of minos and what they tile

<HierarchyChart nodes={tilingHierarchy} edges={tilingEdges} />

This fits our first two criteria: at size 8, only 26/369 octominoes do not tile the plane, which means most polyominoes fit somewhere higher on the hierarchy. It is a finite set with only 10 classes, meaning we have plenty of colors to choose from.

But, as with the other attempts, tiling also carries its own problems. It's not easy to tell just by looking at a mino what it can tile. Golomb's paper has examples of polyominoes that tile a rectangle only with many repetitions. For example, <MinoDiv mino={yPentomino} size={12} /> tiles a 5 x 10 rectangle using 10 copies. It's impossible for someone just browsing through a website (or playing a game) to be able to intuit a polyomino's placement in this hierarchy just by inspection. In addition, for some polyominoes, like <MinoDiv mino={yHexomino} size={12} /> we just don't _know_ the best shape that it can tile. We know it tiles a half-strip, but we haven't proved whether it tiles a rectangle or not. Our hierarchy is incomplete: it is a catalogue of "what we've found so far" rather than a mathematical truth.

> It should be relatively easy for people to understand on inspection why a polyomino is colored the way it is.

---

Let's formalize our criteria. We want a meaningful classification of polyominoes that:

1. Has an interesting "spread" (i.e. is not mostly grey) for our desired size of $n \le 8$ (like graphs and tiling, but unlike symmetry).
2. Is finite, and does not grow unbounded as the size $n$ increases (like symmetry and tiling, but unlike graphs).
3. Is "easy" to intuit just by looking at a mino (like symmetry and graphs, but unlike tiling).

There are also a couple "nice to have"s for classification:

1. It should be based on variations of a single property, not a bunch of random properties put together.
2. It should be granular: it should be able to broken up into subclasses.

I'd like to share the classification scheme I ended up using for the labyrinth, a system based on a property called "directedness". I'd like to share my journey of how I came across it, and the rabbit hole I fell down while researching and refining this classification. A story of how pursuing silly, vague questions can lead to interesting mathematical discovery and some of those exciting "aha" moments I craved. And by the end, I hope to convince you that it is a useful and mathematically interesting categorization of polyominoes that is worthy of this Labyrinth and deserves further study.

[Continue >](/articles/directedness-1)

{#snippet minoList(minos, size)}
  <div>
    {#each minos as mino}
      <span class="mino" style:--fill={getSymmetryColor(mino.transform.symmetry())}>
        <MinoDiv {mino} {size} />
      </span>
    {/each}
  </div>
{/snippet}

<style>
  .mino {
    margin: 0.5rem;
  }
</style>
