<script lang="ts">
  import chart1 from '../images/dir-chart-1.jpeg'
  import chart2 from "../images/dir-chart-2.jpeg"
</script>

## Directedness: The Mathworld Classification

While doing research for the labyrinth, I came across a set of interesting articles from [Wolfram Mathworld](https://mathworld.wolfram.com/Polyomino.html). If we look up the topic ["Lattice Polygons"](https://mathworld.wolfram.com/topics/LatticePolygons.html), we come across a collection of curious special cases of polyominoes:

- [Convex Polyomino](https://mathworld.wolfram.com/ConvexPolyomino.html)
- [Column-](https://mathworld.wolfram.com/Column-ConvexPolyomino.html) and [Row-Convex Polyomino](https://mathworld.wolfram.com/Row-ConvexPolyomino.html)
- [Directed Convex Polyomino](https://mathworld.wolfram.com/DirectedConvexPolyomino.html)
- [Stack Polyomino](https://mathworld.wolfram.com/StackPolyomino.html)
- [Staircase Polygon](https://mathworld.wolfram.com/StaircasePolygon.html)
- [Bar Graph Polygon](https://mathworld.wolfram.com/BarGraphPolygon.html)
- [Ferrers Graph Polygon](https://mathworld.wolfram.com/FerrersGraphPolygon.html)

These articles seem to specify different groups of polyominoes, so maybe that's what we're looking for? We could just assign a different color to each type of polyomino mentioned in one of these articles and call it a day. But I'm not satisfied with just an arbitrary categorization without understanding what it means. I had a couple of questions:

1. Why _these_ classes? What makes them mathematically interesting?
2. What if a polyomino belongs in two different classes?
3. Is this categorization complete? What if someone discovers (or defines) a new class? Would we need to amend our list or move stuff around?

For the first question, we have to go back to one of the fundamental things that makes polyominoes so fascinating: _we don't have a formula for how to calculate them_. Restricting polyominoes to certain classes allows us to find a kind of formula (more specifically: [generating function](https://en.wikipedia.org/wiki/Generating_function)) for counting the number of polyominoes, which might help us solve the bigger question of how many polyominoes there are. Indeed, most of these articles, and the [paper](https://www.sciencedirect.com/science/article/pii/0012365X9500003F) they come from, list the (obscenely complicated) generating functions of the classes they describe.

For the second question... well, it's true. A directed convex polyomino is always convex, a convex polyomino is always column- and row-convex, and so on. But if we create a _hierarchy_ of classes, we can list a polyomino as belonging to the class of the "highest" condition it satisfies, just like symmetry:

![the hierachy of mathworld classes]({chart1})

It's not too hard to show that, for example, a mino that is both a staircase and a stack necessarily has to be a Ferrers diagram polyomino.

The third condition is a little bit harder. After all, we could just add one of our symmetry classes to this list and that's a new color we can add. We want to some way to say that all these classes are related somehow. That they are the only possible categorizations based on some property of polyominoes, like with symmetry. And to do that, we need to look deeper at the definitions of these classes.

### Systemitization: Convexity and Directedness

A couple of words keep coming up in these definitions: _convex_ and _directed_.

A convex polyomino is easy to intuit: it's a polyomino where there aren't any "horseshoe" segments, or concavities. Formally, you can draw a line through any column or row and it will not cut through two different segments of the mino. We can use "row-convex" or "column-convex" (or generally, "semi-convex") to denote a polyomino that you can draw that line in one direction, or another.

(TODO: example of each kind)

"Directed" is tougher to define. It means that every cell of the polyomino can be reached by going right or up from a starting square. Intuitively, it means that if you hold the mino up diagonally and drop a marble in it, it can conceivably reach every square without going against gravity.

(TODO: definition of directed and marble dropping example)

We can use these two definitions to categorize all the classes. A staircase is a convex polyomino that is directed from two opposite corners. A stack is a polyomino that is directed from two adjacent corners, and so on. We can use directedness and semi-convexity to refine our hierarchy from before:

![the hierachy of mathworld classes]({chart2})

We can reasonably stop here and be satisfied with our classification. In fact, for a while this was the hierarchy that I used for the Labyrinth. But something about this still felt slapdash to me. Why are _convexity_ and _directedness_ the two properties we care about? Why not combine symmetry and convexiy, or graphs and directedness? Is there something about these two properties that makes it easier to count polyominoes of that type?

## Orthogonal directedness

One of my favorite things in math is to take a thing and loosen it up, expand it, ease up on restrictions, and see what mathematics comes out. We can do this with the notion of "directedness" to solve our conundrum. Instead of reaching any square by going right and up, what if we consider minos where you can reach any square by going left, right, or up? In our intuitive analogy, instead of hanging our mino by a corner we keep it loose and let a marble roll down:

(TODO: image of a marble run of a mino on its side)

Let's call our old form of directedness _diagonally directed_ and define this new one as _orthogonally directed_:

**Definition** A polyomino is _orthogonally directed_ if every cell can be reached from a root cell by going only three directions (say, left, right and up).

We can ask minos be diagonally directed from different sides and see what they look like:

(TODO: some examples of minos directed from multiple sides):

It seems like, when a mino doesn't have holes, a semi-convex mino is one that's side-directed from two opposite sides!

**Theorem** A polyomino polyomino is is semi-convex if and only if it is [punctureless](/glossary/punctureless) and orthogonally directed from two opposite sides.

(TODO: theorem proof)

Note that we specify _punctureless_: that is, a mino with no internal holes. For the purposes of the labyrinth, we can set aside punctured polyominoes, since the only punctured polyomino is the "O" octomino:

(TODO: O octomino)

But for now, we can replace our definitions on convexity with orthogonal directedness. We can use the notation $\text{Dir}_{o}^{d}$ where $o$ denotes the number of sides a mino is orthogonally directed from, and $d$ denotes the number of corners. When $o$ or $d = 2$, we specify $c$ (for cis-) for two adjacent sides/corners or $t$ (for trans-) for opposite sides/corners. We now have a hierarchy that relies only only on one concept ("how many directions do you need to reach every cell").

(TODO: normal hierarchy, but with the "semi-convex" definitions)

Now that we have a finer-grained definition, we have more classes than before! In particular, we have some additional classes that the definitions of semi-convexity weren't granular enough to encode.

But this is only the classification for _punctureless_ polyominoes. There's still a second concept of "holes" that we haven't dealt with, and a second hierarchy parallel to the one above but with the "punctureless" condition removed. In a way, we're still in the same place as before: instead of "semi-convex" and "directedness" as two unrelated building blocks, we have "directedness" and "punctures". We will see that punctures relate in an interesting way to directedness, but to do so we will need to take a little detour to talk about _boundaries_.

<style>
  img {
    max-width: 600px;
  }

</style>
