A _bar chart_ is a polyomino that is [diagonally directed](/glossary/diagonally-directed) from two adjacent corners. These shapes look like statistical bar charts, hence the name. By definition, a bar chart is a [wing](/classes/wing).
