A _bent tree_ is a polyomino that is [orthogonally directed](/glossary/orthogonally-directed) from two adjacent directions. It's like a [tree](/classes/tree) except "bent" diagonally as if it were growing on a slope. It is similar to an [antler](/classes/antler), except instead of a single anchor cell in the corner, there can be multiple anchor cells along the border.
