_Crescent_ polyominoes are polyominoes that are [orthogonally directed](/glossary/orthogonally-directed) in three directions. This creates concavities only on one side, thus creating a "crescent" shape. By definition, they are both [bent trees](/classes/bent-tree) and [range charts](/classes/range-chart).
