This page lists polyominoes that do not fall in any other classes, that is, polyominoes that are not [directed](/glossary/orthogonally-directed). The smallest polyominoes that are not directed are undecominoes.
