A polyomino that is [orthogonally directed](/glossary/orthogonally-directed) is called a _tree_.

Note that trees can have "thick roots" (aka cycles) unlike graph theoretical trees.

All other special classes can be built off this one, by restricting to polyominoes that are trees in two or more directions.
