A _wedge_ is a polyomino that is [diagonally directed](/glossary/diagonally-directed) from three corners. Wedges without [punctures](/glossary/puncture) are called [Ferrers diagrams][ferrers], and are used as a way to represent the partition of a number. Wedges are both [stacks](/classes/stack) and [staircases](/classes/staircase).

[ferrers]: https://en.wikipedia.org/wiki/Partition_(number_theory)#Ferrers_diagram
