A _wing_ is a polyomino that is both a [crescent](/classes/crescent) and an [antler](/classes/antler), named since they look like one of the wings of a bird or bat. Wings without [punctures](/glossary/puncture) are also called "directed row (or column) convex".
