/* A11y */

* :focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Theme */

:root {
  --color-highlight: #eee;
  --color-fg: #aaa;
  --color-heading: #ccc;
  --color-muted: #888;
  --color-bg: #202020;
  --color-bg2: #333;
  --color-border: grey;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  /* Don't adjust text size on iOS */
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: normal;
  margin: 0;
}

dt {
  color: var(--color-heading);
}

a {
  color: var(--color-fg);
}
