body {
  /* TODO get these values from the theme */
  background-color: #202020;
  color: #aaa;
  /* Don't adjust text size on iOS */
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3 {
  color: #ccc;
  font-weight: normal;
  margin: 0;
}

dt {
  color: #ccc;
}

a {
  color: #aaa;
}
