body {
  /* TODO get these values from the theme */
  background-color: #202020;
  color: #ccc;
  /* Don't adjust text size on iOS */
  -webkit-text-size-adjust: none;
}

h1,
h2 {
  font-weight: normal;
}

a {
  color: #ccc;
}
