# Polyominoes by Directedness

This table categorizes the polyominoes up to octominoes by their directedness class. For classes that have no members with size 8 or less, representatives of the smallest possible size are presented.

Sections stacked on top of each other have a hierarchial relationship: for example, all stack polyominoes are bar charts. Additionally, polyominoes with equivalent [boundary words](/glossary/boundary-word) are grouped together.
