A polyomino has _reflective symmetry over both axes_ if it is identical to its reflection over both diagonals. A polyomino with this type of symmetry naturally has [reflective symmetry over a diagonal](/symmetry/diag). It also has [two-fold rotational symmetry](/symmetry/rot), since a 180˚ rotation is equivalent to flipping over one axis and then another. It is represented by the [Klein four group][klein].

The smallest polyomino with this symmetry is the heptomino below. This symmetry is possible for every size $n \ge 7$ except for nonominoes ($n = 9$).

[klein]: https://en.wikipedia.org/wiki/Klein_four-group
