<script lang="ts">
  import MinoDiv from "$lib/components/MinoDiv.svelte"
  import { Polyomino } from "$lib/mino"
</script>

A polyomino that can be rotated but not flipped across an axis.

For example, the following translations of the L tetromino count as the same one-sided polyomino:

{@render example()}

{#snippet example()}
  {@const mino = Polyomino.of("100_111")}
  <div class="wrapper">
    {#each mino.transform.rotations() as transform}
      <MinoDiv mino={transform} stroke="black" fill="grey" size={15} />
    {/each}
  </div>
{/snippet}

<style>
  .wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
</style>